*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* tamaño de cuadro establece cómo se calculan el ancho y el alto totales de un elemento.*/
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background: #F5F5F5;
}

/* header */
header{
    height: 100px;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    margin-top: 40px;
    width: 150px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 80%;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
    opacity: .6;
}

.btn__register-cover,
.btn__header-register{
    padding: 15px 50px;
    border: none;
    background: #000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 200ms;
}

.btn__register-cover:hover,
.btn__header-register:hover{
    /* background: linear-gradient(45deg,greenyellow, cyan); */
    color: greenyellow;
    box-shadow: 0 0 18px 10px greenyellow;
}

#icon_menu{
    display: none;
}

/*Main*/
main{
    max-width: 1200px;
    height: calc(60vh + 800px);
    padding: 40px;
    margin: auto;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text__information-cover{
    width: 50%;
}

.text__information-cover h1{
    font-size: 50px;
}

.text__information-cover p{
    font-size: 16px;
    margin-top: 40px;
}

.text__information-cover blockquote{
    margin: 20px;
}

.buttons__cover{
    font-size: 18px;
    margin-top: 40px;
}

.btn__readMore-cover{
    padding: 14px 40px;
    border: none;
    color: #000;
    font-weight: 500px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}

.btn__readMore-cover:hover{
    background: linear-gradient(45deg,greenyellow,cyan);
}

.media__cover{
    width: 50%;
}

.media__cover video{
    width: 100%;
    margin-top: -20px;
}

/* Banner */
.container__banner{
    margin-top: 80px;
    height: 250px;
    display: flex;
    align-items: center;
    background: #121214;
    position: relative;
}

.banner__icon-minecraft{
    width: 40%;
    height: 100%;
}

#icon_minecraft{
    width: 400px;
    margin-top: -20px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner__icon-security{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_security{
    width: 300px;
    position: relative;
    margin-top: -80px;
    opacity: .7;
}

.banner__text{
    width: 60%;
    position: relative;
    padding: 40px;
}

.banner__text h2{
    color: #fff;
    font-size: 32px;
    font-weight: 400;    
}

.banner__text a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
}

.banner__text a:hover{
    color: greenyellow;
}

@media (max-width: 1024px){
    .container__header,
    main{
        padding: 20px;
    }

    .logo img{
        margin-top: 100px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .header__register{
        display: none;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }

    .menu nav ul li{
        padding: 10px 40px;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.2);
        transition: all 300ms;
    }

    .show_menu{ /*Class manipulated by js*/
        height: 235px;
    }

    .text__information-cover h1{
        font-size: 40px;
    }

    .text__information-cover p{
        font-size: 16px;
    }

    .banner__text h2{
        font-size: 22px;
    }

    #icon_minecraft{
        left: -60px;
    }

    #icon_security{
        right: -20px;
    }
}

@media (max-width: 920px){
    .text__information-cover{
        width: 100%;
    }

    .media__cover{
        display: none;
    }

    .container__banner{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    #icon_security{
        display: none;
    }

    #icon_minecraft{
        left: 0;
    }

    .banner__text{
        width: 100%;
        margin-top: -100px;
    }
}